{% extends 'index.html' %}
{% load static %}  
{% block content %} 





<style>
.caro{
    display: none;
}
  .features{
      display: none;
  }
  .banner{
     display: none;
   }
  .about{
      display: none;
  }
  .realmind{
    display: none;
}
.form2{
  margin-bottom: 40px;
}
 

</style>

<div id="form2" class="container form2" style="width: 500px;  background-color: #e9ecef; align-items: center; text-align: center; margin-top: 50px;">
    
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post"  class="row g-3">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="col-12">
    
        <button type="submit" class="btn btn-danger">Submit</button>
  
      
        </div>
      <!--<button type="submit" class="btn btn-danger">Submit</button>-->
      
    </form>
   
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>

  {% endif %}
</div>

     

  
  {{ form.errors }}
  
  
  
  

{% endblock content %}



