
{% extends 'index.html' %}
{% load static %}  
{% block content %} 

{% load crispy_forms_tags %} 



<style>


/* Add padding to containers */
/*.container {
  padding: 16px;
  background-color: white;
  width: 700px;
  padding: 50px;
}*/

/* Full-width input fields */
/*input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}*/

/* Overwrite default styles of hr */
/*hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}*/

/* Set a style for the submit button */
/*.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}*/

/* Add a blue text color to links */
/*a {
  color: dodgerblue;
}*/

/* Set a grey background color and center the text of the "sign in" section */
/*.signin {
  background-color: #f1f1f1;
  text-align: center;
}*/
</style>


<style>
   .caro{
    display: none;
}
    .features{
        display: none;
    }
    .banner{
     display: none;
   }
    .about{
        display: none;
    }
    .realmind{
      display: none;
  }
   .form2{
       margin-top: 100px;
       margin-bottom: 150px;
   }
   
   
   
 </style>



</head>
<body>


   
   




{% for message in messages %}
{{ message}}
{% endfor %}



<div id="form2" class="container form2" style="width: 500px;  background-color: #e9ecef; align-items: center; text-align: center; margin-top: 50px;">
  <form action="{% url 'accounts:register' %}" method="POST" class="row g-3">
      {% csrf_token %}
      <div class="col-md-8">
          <label for="inputEmail4" class="form-label" >Username</label>
          <input type="text" class="form-control" id="inputusername" name="username" placeholder="username">
 
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Full name</label>
          <input type="text" class="form-control" id="inputfirst_name" name="fullname" placeholder="full name" >
        </div>
      
      <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Phone</label>
          <input type="text" class="form-control" id="inputNumber" name="phone" placeholder="Phone Number">
        </div>
      <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputlast_name" name="email" placeholder="Email" >
   
        </div>
     

      <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Repeat Password</label>
          <input type="text" class="form-control" id="inputPassword4" name="password2" placeholder="Repeat Password">
        </div>

      <div class="col-12">
      <!--<button role="button" class="btn btn-danger btn-lg" style="align-items: center; margin-top: 40px;">Submit</button>-->
      
      <button type="submit" class="btn btn-danger">Submit</button>

    
      </div>
    </form>



{{ form.errors }}



<div class="mt-4">
  <div class="d-flex justify-content-center links" style="color:black">
      Already Have An Account? <a href="{% url 'accounts:login' %}"
      class="mm-3"">Login</a>
  </div>
</div>

</div>





   

    

    <!--<script>
        //query all input fields

        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder = 'Username...';
        form_fields[2].placeholder ='Email...';
        form_fields[2].placeholder = 'location...';
        form_fields[2].placeholder = 'address...';
        form_fields[2].placeholder = 'phone...';
        form_fields[2].placeholder ='Enter password...';
        form_fields[2].placeholder ='Re-Enter password...';

        for (var field in form_fields ){
            form_fields[field].className += 'form-control'
        }
    </script>-->


{% endblock content %}



