
{% extends 'index.html' %}
{% load static %}  
{% block content %} 
  




{% for message in messages %}
<p id="messages">{{ message }}</p>
{% endfor %}


<style>
.caro{
    display: none;
}
    .features{
            display: none;
        }
        .banner{
     display: none;
   }
        .about{
            display: none;
        }
        .realmind{
          display: none;
      }
     
    
      p{
        font-size: 20px;
         margin-top: 40px;
         margin-bottom: 150px;
        text-align: center;
         
          transition: 0.5s ease-in;
      }
     

    </style>
    <p>
      Your password has been set. You may go ahead and <a type="button" class="btn btn-danger" href="{% url 'accounts:login' %}">sign in</a> now.
    </p>
    <!--<div class="container">
       
        <div class="row">
            <div class="col-md-12">
             
                <div class="content" >
                        
                  <p>
                    Your password has been set. <br> You may go ahead and <a href="">sign in</a> now.
                  </p>
               
                </div>
            </div>
        </div>
    </div>-->



{% endblock %}