
{% extends 'index.html' %}
{% load static %}  
{% block content %} 





<style>
.caro{
    display: none;
}
   .features{
       display: none;
   }
   .banner{
     display: none;
   }
   .about{
       display: none;
   }
   .realmind{
     display: none;
 }
  

body {font-family: Arial, Helvetica, sans-serif;}


input[type=text], input[type=password] {
  width: 100%;
  padding: 1px 5px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #223a66;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 22px;
  font-family: "Roboto", sans-serif;;
}

button:hover {
  opacity: 0.8;
}
.container {
  padding: 16px;
 
}
p{
  font-size: 22px;
  
}


.mod{
 margin-top: 50px;
  /*position: fixed;*/ 
  z-index: 1; 
  left: 300px;
  top: 0;
  width: 600px; 
  height: 600px; 
  overflow: auto; 
  padding-top: 60px;
  padding-left: 150px;
  align-items: center;
}

.mod-content {
  background-color: #fefefe;
  margin: 5px auto 5px auto; 
  border: 1px solid #888;
  width: 80%; 
}



.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  /*span.psw {
     display: block;
     float: none;
  }*/
  .cancelbtn {
     width: 100%;
  }
}
</style>

{% for message in messages %}
<p id="messages">{{ message }}</p>
{% endfor %}



<div class="container">
    <div id="id01" class="mod" style="align-items: center; text-align: center; padding: 40px;">
      <p>Forgotten your password? Enter your email address below ,and we we will email instructions for setting a new one.</p>


<form method="post" class="mod-content animate">
  {% csrf_token %}
  <div class="container">
  {{ form }}
  <button type="submit">Submit</button>
  </div>
</form>
    </div>
</div>




{% endblock %}