{% extends 'index.html' %}
 {% load static %}
{% block content %}


<style>
   .caro{
    display: none;
}
    .features{
        display: none;
    }
    .banner{
     display: none;
   }
    .about{
        display: none;
    }
    .realmind{
      display: none;
  }
    .feature{
        margin-top: 70px;
        margin-bottom: 150px;
       
        text-align: left;

        align-items: center;
        color: #000;
       
    }
    h3{
        font-size: 16px;
        color: #000;
    }
    .feature-icon{
        width: 300px;
    }
    .mb-3{
        text-align: center;
    }

  
  ol li h5{
      font-size: 14px;
      color: #333;
  }
  h2{
      text-align: center;
  }
 

</style>





<section class="feature">
    
	<div class="container">
        <h2>Our Mobile app services</h2>
		<div class="row">
			<div class="col-lg-12">
				<div class="feature-block d-lg-flex">
					<div class="feature-item mb-8 mb-lg-0">
						
					
                        <h4 class="mb-3">Mobile App development</h4>
						<h3 class="mb-4">We design and develop innovative and creative mobile app applications that provide total communication and information solutions for business and personal purposes.</h3>
                        <h3> Be it e-commerce mobile app, business-to-business applications, business-to-client applications, Tailor made applications, real estate mobile app,business app or any kind.</h3>
						
					</div>
                    <div class="feature-item mb-8 mb-lg-0">
						
					
                        <img src="/static/images/mobile5.jpg" width="400" height="480" alt="">
					</div>

					<div class="feature-item mb-5 mb-lg-0">
						<div class="feature-icon mb-4">
						
						</div>
					
						<h4 class="mb-3">Training</h4>
                   
                       
                        <ol>
                            <li><h5>Logic building and data structure that can be used to develop any application</h5>
                            </li>
                            <li> <h5>Our training is a 5-month course. We take you from the scratch and make you a professional full stack developer in any of the programming language chosen. </h5>
                            </li>
                            <li> <h5>The first two months is dedicated in ensuring you understand the core  language</h5>
                            </li>
                            <li><h5>The month after is dedicated for you to learn the frameworks to develop real applications.</h5>
                            </li>
                            <li> <h5>The final month is for projects. Before the end of your program ,you will have developed two mobile apps. The first one ,we will do it together with you to know how real application is designed and developed. <br> The second application, you will do it yourself using the method used to do the first one.This will go a long way to show that you have really learnt well. </h5>
                            </li>
                            <li><h5>We will also teach you how you can host your applications</h5>
                            </li>
                            <li><h5>Teach you how you can host your codes,projects for employers all over the world to see your work.</h5>
                            </li>
                            <li><h5>We aslo teach you how you can source for forign jobs</h5>
                            </li>
                            <li> <h5>Certificate of completion</h5></li>
                        </ol>
					
					</div>
					
				
				
				</div>
			</div>
		</div>
	</div>
</section>



{% endblock %}