{% extends 'index.html' %}
 {% load static %}
{% block content %}
<style>
   .caro{
    display: none;
}
    .features{
        display: none;
    }
    .banner{
     display: none;
   }
    
    .aboutus{
        width: auto;
      
       
        align-items: center;

        margin-bottom: 80px;
        margin-top: 80px;
    }
    .aboutus.container{
        width: 400px;
        height: auto;
        margin-top: 50px;
        margin-bottom: 30px;
       
    }

    .realmind{
      display: none;
  }
    .about{
        display: none;
    }
   
   
    p{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 200;
        padding: 10px 40px;
    }
    .aboutus h3{
        margin: 40px;
        text-align: left;
        color: #223a66;
        margin-top: 40px;
        font-size: 22px;
        font-weight: 700;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
</style>

<div class="aboutus">
    <h3> About  Realmind technology</h3>

<div class="container">
  
<p>At Realmind Technology, we train candidates on software development.We also develop innovative and creative products and services that provide total communication and information solutions. <br>  Among the services we provide are tarining, web design and development, tailor made applications, e-commerce solutions, business-to-business applications, business-to-client applications,mobile applications, real estate, hotel management applications,school management applications,ect .We offer services that our clients around the globe will be able to bear testimony to the quality of our work.
</p>
<p>As a company, we are committed to exporting quality web and mobile products around the world.
The general purpose of Realmind Technology is to develop and promote advanced information technologies for multi-user operation train others too.</p>
<p>We also recruit software developers for companies.</p>
</div>
</div>
{% endblock%}