
    {% extends 'index.html' %}
    {% load static %}  
    {% block content %} 
    
    {% load crispy_forms_tags %}


    <style>
.caro{
    display: none;
}
        .features{
                display: none;
            }
            .about{
                display: none;
            }
            .realmind{
              display: none;
          }
          .support{
          
          }
          .col {
              display: flex;
              width: 1170px;
          }
          .col-lg-4{
              display: flex;
          }
          .banner{
     display: none;
   }
    
        </style>



    <section class="section service">
        <div class="container">
            <div class="row">
                <h3>Digital marketing</h3>
                <div class=" col-md-8">
                    <div class="service-item mb-4">
                   <img src="{% static 'images/digital/digital_m8.png' %}" width="800" height="350" alt="">
                        </div>
    
                        <div class="content">
                            
                            <p>Digital marketing can be very sweet both learning and money making part of it. Digital marketing offers you opportunity to earn money beyond your imagination.  There is no limit to how much you can earn when you  master the various digital marketing skills you need to succeed</p>
                            <p>Digital Marketing offers you unlimited earnings! Your paychecks keeps coming based on  how well the job is excuted.Your service is always needed globally!</p>
                            <p>At Realmind, we equip you  with the right training and skills necessary for you to succeed in your chosen career .</p>
                            <p>Enroll today!&nbsp; &nbsp;  Make money!! &nbsp; &nbsp; And secure your future!!!</p>
                            <p>Attend our course and learn important digital marketing skills to succeed.
                               <p> We do projects with you in other for you master the skilss and also  build your portfolio to showcase to your respective  employers.
                      </p>
                        </div>
                  </p>
                            </div>
                </div>
       </div>
    </section>





    {% endblock %}