{% extends 'index.html' %}
 {% load static %}
{% block content %}


<style>
    .caro{
    display: none;
}
    .features{
          display: none;
      }
      .about{
          display: none;
      }
      .realmind{
        display: none;
    }
    .banner{
     display: none;
   }
    .email-received{
        margin-bottom: 120px;
        margin-top: 100px;
        font-size: 18px;
    }
  
  </style>
<center class="email-received">
    <h1> Thank you , {{ message_name }}</h1>
    <p>Email recieved,we will contact you soon</p>
</center>

{% endblock %}