





<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="">  7/12 Rumens road ikoyi <br>lagos <br></a></li>

                   <li><a href=""> 7/12 Rumens road ikoyi <br>lagos <br>
                    <strong>Phone:</strong> +2348079385255</a></li>
                  
                </ul>
            </div>
            <div class="footer-col">
                <h4>Useful links</h4>


                <ul>
                    <li><a href="{% url 'product:home'%}"> Home </a><li>
                    <li><a href="{% url 'product:about'%}"> About us </a></li>
                    <li><a href="{% url 'product:services'%}"> Services </a></li>
                    <li><a href="{% url 'product:recruitment'%}"> Recruitment </a></li>
                    <li><a href="{% url 'product:train'%}"> Training </a></li>
                </ul>
              
            </div>
            <div class="footer-col">
                <h4>Our services</h4>
                <ul>
                    <li><a href="{% url 'product:mobile'%}"> Mobile app </a></li>
                    <li><a href="{% url 'product:web'%}"> web Development </a></li>
                    <li><a href="{% url 'product:train'%}"> Product management</li>
                    <li><a href="{% url 'product:digital'%}"> Digital marketing </a></li>
                    <li><a href="{% url 'product:train'%}"> Graphic Design </a></li>
                </ul>
              
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href=""><i class="fa fa-facebook-f"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>

</footer>