
{% extends 'index.html' %}
{% load static %}
{% block content %}


<style>

      .support{
      
      }
      /*.col {
          display: flex;
          width: 1170px;
      }
      .col-lg-4{
          display: flex;
      }*/
  
.detail{
    margin-top: 120px;
    margin-bottom: 200px;
    border: 0;
    align-items: center !important;
    text-align: left;
}
.card{
    padding: 70px;
}

    </style>


<section class="detail">

    <div class="container">
        <div class="row product_detail">
          
          <h2 style="text-align: center;">{{product_detail.name}}</h2>
            <!--<div class="col">-->
                
                <div class="card">
                    
                    <div class="card-body">
                        <div class="card-img">
                            <p>{{ product_detail.desc}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--</div>-->
</section>


{% endblock %}