
{% extends 'index.html' %}
{% load static %}  
{% block content %} 






<section class="section service gray-bg">
	<div class="container">
		<div class="row">
			<h3>Our Services</h3>
		
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="{{course.icon}}"></i>
						
						<h4 class="mt-3 mb-3">Web Development</h4>
					</div>

					<div class="content">
						<p>We develop web applications to suit your business type.Be it E-commerce ,Portal web application,Content management system web application,Static web application,Animated web applications or any type,we have skilled web developers to give you beyound what you experct.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="{{course.icon}}"></i>
						
						<h4 class="mt-3 mb-3">Mobile App Development</h4>
					</div>

					<div class="content">
						<p>We have a team of mobile app developers to bring your idea into mobile applications.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="{{course.icon}}"></i>
						
						<h4 class="mt-3 mb-3">Training</h4>
					</div>

					<div class="content">
						<p>Our doors are opened for those who wish to enroll in our institute to become software developers.Contact us today to begin your journey.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="{{course.icon}}"></i>
						
						<h4 class="mt-3 mb-3">Recruitment</h4>
					</div>

					<div class="content">
						<p>Looking to hire developers for your projects? Be it short or long term basis, we have skilled and ready developers to meet your expectations</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="{{course.icon}}"></i>
						
						<h4 class="mt-3 mb-3">IT Consultancy</h4>
					</div>

					<div class="content">
						<p>WE are available for your IT consultancy .To give your all technical and experienced support for software products</p>
					</div>
				</div>
			</div>
			


		</div>
	</div>
</section>

{% endblock %}