{% extends 'index.html' %}
{% load static %}  
{% block content %}

<style>
.caro{
    display: none;
}
.features{
        display: none;
    }
    .about{
        display: none;
    }
    .realmind{
      display: none;
  }
  .support{
  
  }
  .banner{
     display: none;
   }
    
  
 
</style>

<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="support">
            <div class="card">
           <h3>Support us!</h3>

           <p>
            Our goal is to provide quality  software products to people around the globe and train others who wish to become software developers.</p>
            <!--<p>And also provide train those wishing to be software developers.</p>-->
            <p>Support us to train more people in Nigeria,Africa and around the world and to develop exciting apps!</p>
       
          </div>
              </div>

    </div>
  </div>
</div>



{% endblock %}