

    {% extends 'index.html' %}
    {% load static %}  
    {% block content %} 
    
 
    
    
    
    
    
    

<style>
.caro{
    display: none;
}
    .features{
            display: none;
        }
        .about{
            display: none;
        }
        .realmind{
          display: 100%;
      }
      .banner{
     display: none;
   }
     
      
      .col {
          display: flex;
          width: 1170px;
      }
      .fact{
          display: none;
      }
     

    </style>
    
    
    
    

<div class="row justify-content-center realmind" style="margin-top: 50px;">
	<div class="col-lg-6">
		<div class="section-title">
			<h2>Important Benefit of learning from us</h2>
		</div>
		<div class="desc ">
		<ol>
			<li class="animate__animated animate__backInLeft animation-delay-1s"><h4>100% One on one practical tutorial </h4></li>
			<li class="animate__animated animate__backInRight animation-delay-2s" style="animation-delay: 2s;"><h4>We assume you dont know anything so we teach you from scratch to professional level</h4></li>
		    <li class="animate__animated animate__rotateIn animation-delay-1s h2" style="animation-delay: 3s;"><h4>Deployment of your projects online</h4></li>
			<li class="animate__animated animate__rotateIn animation-delay-1s h2" style="animation-delay: 4s;"><h4>Two projects before you finish your program with us</h4></li>
			<li class="animate__animated animate__rotateInDownLeft animation-delay" style="animation-delay: 5s;"><h4>Teach you how you can save your projects so intending employers can see your work</h4></li>
			<li class="animate__animated animate__backInLeft animation-delay" style="animation-delay: 6s;"><h4>Teach you how you can apply for foreign companies</h4></li>
			<li class="animate__animated animate__backInRight animation-delay" style="animation-delay: 7s;"><h4>Help you source for jobs online</h4></li>
		</ol>
		</div>

	</div>

	<div class="col-lg-6 fact">
		<h2 class="fact">Current Fact</h2>
		<div class="section-right animate__animated animate__bounceInDown animation-delay-3s">
			
		
		<p>There’s no question that software programming is a hot career right now. A recent research by The U.S. Bureau of Labor Statistics projects 21 percent growth for programming jobs from 2018 to 2028, which is more than four times the average for all occupations. What’s more, the median annual pay for a software programmer is about $106,000, which nearly three times the median pay for all workers around the world .</p>
	
	</div>
</div>
</div>
    
    
    
    
    
    {% endblock content %}
    
    
    
    







<div class="fanta">
    
   <div class="row">

    <div class="col-lg-3">  
         <div class="card"> <div class="images"> <h3>about this </h3> <img src="/static/images/mobile1.jpg" alt=""> <a href="">read more </a> </div>  </div>           </div>




    <div class="col-lg-3"><div class="images"> <h3>about this </h3> <img src="/static/images/mobile1.jpg" alt=""> <a href="">read more </a> </div>  </div> </div>
    <div class="col-lg-3"><div class="images"> <h3>about this </h3> <img src="/static/images/mobile1.jpg" alt=""> <a href="">read more </a> </div>  </div> </div>
    <div  class="col-lg-3"><div class="images"> <h3>about this </h3> <img src="/static/images/mobile1.jpg" alt=""> <a href="">read more </a> </div>  </div> </div>

   </div> 

</div>
